body{
    margin: 0;
}

.footer {
    /* height: 400px; */
    display: flex;
    color: black;
    padding: 15px; 
    background: #fff;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
  }
  
  .footer-links{
    margin-right: 20px;
    color: black;
  
  }
  .link-item{
    margin-bottom: 10px;
  }
  .link-item a {
    text-decoration: none;
    color: black;
  }
  @media (max-width: 768px) {
    .footer{
      display: none;
    }
  }